<div id="component-container">
  <div id="component-container-left">
    <div id="container-background-photo"></div>
  </div>
  <div id="component-container-right">
    <form #contactForm="ngForm" (ngSubmit)="trySendEmail(contactForm)">
      <mat-card>
        <label class="form-label">Formularz kontaktowy</label>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Twój e-mail</mat-label>
            <input
              matInput
              name="email"
              required
              autocomplete="off"
              [(ngModel)]="model.email"
            />
          </mat-form-field>
          <div *ngIf="errors.email" class="error-form">
            <span>{{ errors.email }}</span>
          </div>
          <mat-form-field>
            <mat-label>Imię</mat-label>
            <input
              matInput
              name="name"
              required
              autocomplete="off"
              [(ngModel)]="model.name"
            />
          </mat-form-field>
          <div *ngIf="errors.name" class="error-form">
            <span>{{ errors.name }}</span>
          </div>
          <mat-form-field>
            <mat-label>Treść wiadomości</mat-label>
            <textarea
              matInput
              name="message"
              required
              [(ngModel)]="model.message"
            ></textarea>
          </mat-form-field>
          <div *ngIf="errors.message" class="error-form">
            <span>{{ errors.message }}</span>
          </div>
          <button mat-raised-button type="submit">Wyślij</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
