<div id="component-container">
  <div id="component-container-left">
    <div id="container-background-photo"></div>
  </div>
  <div id="component-container-right">
    <form #loginForm="ngForm" (ngSubmit)="tryLogin(loginForm)">
      <mat-card>
        <label class="form-label">Formularz logowania</label>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Twój e-mail</mat-label>
            <input
              matInput
              name="email"
              [(ngModel)]="model.email"
              required
            />
          </mat-form-field>
          <div *ngIf="errors.email" class="error-form">
            <span>{{ errors.email }}</span>
          </div>
          <mat-form-field>
            <mat-label>Podaj swoje hasło</mat-label>
            <input
              matInput
              name="password"
              [(ngModel)]="model.password"
              required
              autocomplete="off"
              [type]="!isPasswordVisible ? 'password' : 'text'"
            />
            <button
              id="button-password"
              name="button"
              type="button"
              mat-icon-button
              matSuffix
              (click)="changePasswordVisibility()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="!isPasswordVisible"
            >
              <mat-icon>{{
                !isPasswordVisible ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="errors.password" class="error-form">
            <span>{{ errors.password }}</span>
          </div>

          <button id="button-submit" mat-raised-button type="submit">
            Zaloguj się
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
