<div id="navbar-container">
  <div id="navbar-auth-container">
    <div id="navbar-auth">
      <div id="navbar-logo-div">
        <img src="../../../../assets/logo-navbar.png" />
      </div>
      <div id="navbar-auth-div">
        <button
          mat-icon-button
          [matMenuTriggerFor]="authMenu"
          class="navbar-menu"
        >
          <mat-icon class="navbar-auth-icon">person</mat-icon>
        </button>
        <mat-menu #authMenu="matMenu">
          <button mat-menu-item class="navbar-menu-item" routerLink="/login">
            LOGOWANIE
          </button>
          <button mat-menu-item class="navbar-menu-item" routerLink="/register">
            REJESTRACJA
          </button>
        </mat-menu>
        <button class="navbar-auth-button" routerLink="/login">
          LOGOWANIE
        </button>
        <button class="navbar-auth-button" routerLink="/register">
          REJESTRACJA
        </button>
      </div>
    </div>
  </div>
  <div id="navbar-tabs-container">
    <div id="navbar-tabs">
      <button
        mat-icon-button
        [matMenuTriggerFor]="navbarMenu"
        class="navbar-menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #navbarMenu="matMenu">
        <button mat-menu-item class="navbar-menu-item" [routerLink]="['/', city]">AKTUALNOŚCI</button>
        <button
          mat-menu-item
          class="navbar-menu-item"
          [routerLink]="['/', city, 'reservation']"
        >
          REZERWACJA
        </button>
        <button
          mat-menu-item
          class="navbar-menu-item"
          [routerLink]="['/', city, 'now-playing']"
        >
          AKTUALNIE
        </button>
        <button mat-menu-item class="navbar-menu-item" [routerLink]="['/', city, 'trailers']">
          TRAILERY
        </button>
        <button
          mat-menu-item
          class="navbar-menu-item"
          [routerLink]="['/', city, 'coming-soon']"
        >
          WKRÓTCE
        </button>
        <button mat-menu-item class="navbar-menu-item" [routerLink]="['/', city, 'price-list']">
          CENNIK
        </button>
        <button mat-menu-item class="navbar-menu-item" [routerLink]="['/', city, 'contact']">
          KONTAKT
        </button>
      </mat-menu>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city]">AKTUALNOŚCI</button>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city, 'reservation']">
        REZERWACJA
      </button>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city, 'now-playing']">
        AKTUALNIE
      </button>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city, 'trailers']">
        TRAILERY
      </button>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city, 'coming-soon']">
        WKRÓTCE
      </button>
      <button class="navbar-tab-button border-right" [routerLink]="['/', city, 'price-list']">
        CENNIK
      </button>
      <button class="navbar-tab-button" [routerLink]="['/', city, 'contact']">KONTAKT</button>
    </div>
  </div>
</div>
