@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, 700);
$accent: mat.define-palette(mat.$grey-palette, 900, 50);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);

body { 
  color: mat.get-color-from-palette($accent, 50);
  background-color: black;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

